			html{background-repeat: no-repeat;background-size: cover;width: 100%;height: 100%;}
			*{margin: 0;padding: 0;}
			input[name='commont'],input[name="core"],input[name="sure"],input[name="code"]{
					outline: none;
					border: none;
					background: transparent;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					}
			span{
				font:  Arial,"Microsoft Yahei";    
				color: #222222;
				
				}		    
			.contaier{
				background:white;
				position: absolute;
				left: 50%;
				top: 50%;
    			border-radius: 15px;
    			}
			.contaier .login{
				position: absolute;
				}
			.contaier .login .zh{
				display: block;float: left;
				}
			.contaier .login .comStyle{
				border: 1px solid #18d659;
			    border-radius: 6px;
			    }  
			.contaier .login .iconCom{
				position: absolute;
				cursor: pointer;}
		    .contaier .login .password{    
				 position: relative;
				 }
				 
			    .contaier .login #code{
			    border: 1px solid #18d659;
			    border-radius: 6px;
			    }
			    .contaier .login .num img{
   				vertical-align: middle;
   				border-radius: 6px; 
   				border: 1px solid #18d659;
   				}   	 	
			.contaier .login input[name='remb']{
				vertical-align:middle;
				}
			.contaier .login input[name="sure"]{
				color: #fff;
				background: #18D659;
				border-radius: 30px;
				cursor: pointer;
				}					 
   			
			
			
			@media screen and (min-width: 1680px) and (max-width: 1920px) {
				html{background-image: url(img/beijing-1920.png)}
				span{font-size: 18px;height: 52px;line-height: 52px;}
				.contaier{width: 560px;width: 560px;height: 490px;margin-left: -280px;margin-top: -245px;}
				.contaier .logo img{width: 196px;height: 58px;margin-left: 182px;margin-top: 40px;}
				.contaier .login{width: 440px;height: 318px;left: 60px;top: 128px;}
				.contaier .login .comStyle{ width: 360px;margin-left: 78px;height: 50px;}
				.contaier .login input[name='commont']{margin-left: 24px;margin-top: 12px;height: 26px;width: 338px;}
				.contaier .login .iconCom{ width: 16px;height: 12px;top: 20px;right: 24px;}
				.contaier .login .password{margin-top: 24px;margin-bottom: 24px;}
				.contaier .login #code{ margin-left: 8px;width: 198px;height: 50px;text-indent: 20px;}
				.contaier .login .num img{width: 134px;height: 50px;margin-left: 19px;}
				.contaier .login .rember{margin-left: 324px;}
				.contaier .login .rember .spanRe{font-size: 18px;height: 64px;line-height: 64px;}	
				.contaier .login input[name='remb']{margin-right: 6px;}
				.contaier .login input[name="sure"]{width: 440px;height: 50px;font-size: 30px;}
			}
			
			@media screen and (min-width: 1366px) and (max-width: 1680px) {
				html{background-image: url(img/beijing-1680.png)}
				span{font-size: 16px;height: 46px;line-height: 46px;}
				.contaier{width: 492px;height: 430px;margin-left: -246px;margin-top: -215px;}
				.contaier .logo img{width: 174px;height: 52px;margin-left: 160px;margin-top: 34px;}
				.contaier .login{width:388px;height: 282px; left: 52px;top: 112px;}
				.contaier .login .comStyle{width: 316px;height: 46px;margin-left: 70px;}
				.contaier .login input[name='commont']{margin-left: 22px;margin-top: 16px;width: 250px;}
				.contaier .login .iconCom{width: 14px;height: 12px;right: 20px;top: 18px;}
				.contaier .login .password{margin-top: 18px;margin-bottom: 18px;}
				.contaier .login #code{width: 176px;margin-left: 6px;height: 46px;text-indent: 22px;}
				.contaier .login .num img{width: 120px;height: 46px;margin-left: 13px;}
				.contaier .login .rember{margin-left: 274px;}
				.contaier .login .rember .spanRe{font-size: 16px;height: 56px;line-height: 56px;}	
				.contaier .login input[name='remb']{margin-right: 14px;}
				.contaier .login input[name="sure"]{width: 388px;height: 46px;font-size: 28px;}
			}
			
			@media screen and (max-width: 1366px) {
				html{background-image: url(img/beijing-1366.png)}
				span{font-size: 14px;height: 38px;line-height: 38px;}
				.contaier{width: 400px;height: 350px;margin-left: -200px;margin-top: -175px;}
				.contaier .logo img{width: 140px;height: 40px;margin-left: 130px;margin-top: 28px;}
				.contaier .login{width:316px;height: 238px; left: 42px;top: 90px;}
				.contaier .login .comStyle{width: 256px;height: 36px;margin-left: 56px;}
				.contaier .login input[name='commont']{margin-left: 18px;margin-top: 12px;width: 202px;}
				.contaier .login .iconCom{width: 12px;height: 10px;right: 18px;top: 15px;}
				.contaier .login .password{margin-top: 18px;margin-bottom: 18px;}
				.contaier .login #code{width: 146px;margin-left: 2px;height: 36px;text-indent: 18px;}
				.contaier .login .num img{width: 98px;height: 36px;margin-left: 4px;}
				.contaier .login .rember{margin-left: 224px;}
				.contaier .login .rember .spanRe{font-size: 14px;height: 50px;line-height: 50px;}	
				.contaier .login input[name='remb']{margin-right: 2px;}
				.contaier .login input[name="sure"]{width: 314px;height: 38px;font-size: 24px;}
			}